extends layouts/main
include mixins/videoBlock

block content
    .videos
        each items in videos
            +videoBlock({
                id:items.id,
                title:items.title,
                views:items.views,
                videoFile:items.videoFile,
            })